/* add css module styles here (optional) */
/* move inline style to here */

.hexdot {
  position: relative;
  padding-left: calc(var(--width) + 8px);
}

.hexdot::before {
  position: absolute;
  content: '';
  border-radius: 50px;
  background-color: var(--color);
  width: var(--width);
  height: var(--height);
  top: var(--top);
  left: var(--left);
  border: var(--border);
}

.input {
  white-space: pre;
  overflow: hidden;
}
