/* add css module styles here (optional) */
/* move inline style to here */

.hexdot_24 {
  position: relative;
  padding-left: 24px;
}

.hexdot_24::before {
  background-color: var(--color);
  content: "";
  position: absolute;
  top: 8px;
  width: 16px;
  height: 16px;
  left: 4px;
  border-radius: 50px;
  border: 1px dotted;
}

.hexdot_11 {
  position: relative;
  padding-left: 16px;
}

.hexdot_11::before {
  background-color: var(--color);
  content: "";
  position: absolute;
  top: 2px;
  width: 12px;
  height: 12px;
  left: 2px;
  border-radius: 50px;
  border: 1px dotted;
}

.input {
  white-space: pre;
  overflow: hidden;
}