/* add css module styles here (optional) */
/* move inline style to here */

.hexdot {
  position: relative;
  padding-left: 32px;
}

.hexdot::before {
  background-color: var(--color);
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 10px;
  width: 26px;
  height: 26px;
  left: 2px;
  border-radius: 50px;
}

.input {
  white-space: pre;
  overflow: hidden;
}